# WE07

## ARAVIND DUDAM

## U04440266

## About the dataset.

The dataset is provideds the information on electric utility companies, their contact information, the types of services they offer, and the rates they charge for their services. The dataset also includes information on the service territories of electric utility companies and the types of energy sources they use to generate electricity.

Users can search the dataset by entering a zipcode and selecting a search radius. The dataset will then return a list of electric utility companies operating within the specified search radius, along with their contact information and rate information.

This dataset can be useful for individuals and businesses looking to compare rates and services offered by different electric utility companies in their area. It can also be used by researchers and policymakers to analyze trends in the electric utility industry and develop policies to promote competition and improve the affordability and reliability of electricity services.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
# set random seed to ensure that results are repeatable
np.random.seed(1)

## Loading the data

In [2]:
df = pd.read_csv("C:/Users/Aravind Dudam/Downloads/DSP/iou_zipcodes_2020_01.csv")

In [3]:
df.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3572 entries, 0 to 3571
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   zip           3572 non-null   int64
 1   eiaid         3572 non-null   int64
 2   utility_name  3572 non-null   object
 3   state         3572 non-null   object
 4   service_type  3572 non-null   int64
 5   ownership     3572 non-null   object
 6   comm_rate     3572 non-null   float64
 7   ind_rate      3572 non-null   float64
 8   res_rate      3572 non-null   float64
dtypes: float64(3), int64(3), object(3)
memory usage: 251.3+ KB

In [4]:
df.head(10)

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,85321,176,Ajo Improvement Co,AZ,1,Investor Owned,0.087890,0.000000,0.093887
1,36560,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
2,36513,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
3,36280,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
4,35473,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
5,35229,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
6,36375,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
7,35246,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
8,35249,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
9,36125,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057

## Checking the Number of rows and columns

In [5]:
df.shape

(3572, 9)

## Finding Missing Values

In [6]:
df.isnull().sum()

zip             0
eiaid           0
utility_name    0
state           0
service_type    0
ownership       0
comm_rate       0
ind_rate        0
res_rate        0
dtype: int64

## Dropping rows with missing values

In [7]:
df = df.dropna()

In [8]:
# Target Variable "Service type"
df['service_type'].value_counts()

1    2895
0     677
Name: service_type, dtype: int64

## Checking for Null Values

In [9]:
df.isna().sum()

zip             0
eiaid           0
utility_name    0
state           0
service_type    0
ownership       0
comm_rate       0
ind_rate        0
res_rate        0
dtype: int64

In [10]:
df.corr()['service_type'].sort_values(ascending=False)

C:\Users\Aravind Dudam\AppData\Local\Temp\ipykernel_11040\3199772146.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['service_type'].sort_values(ascending=False)

service_type    1.000000
res_rate        0.479214
comm_rate       0.449844
ind_rate        0.360941
zip             0.259967
eiaid          -0.396470
Name: service_type, dtype: float64

## Dropping the unrelavent columns

In [11]:
df_droped = df.drop(columns=["eiaid" , "zip" , "ownership", "utility_name"])

In [12]:
df_droped

     state  service_type  comm_rate  ind_rate  res_rate
0       AZ             1   0.087890  0.000000  0.093887
1       AL             1   0.121895  0.063652  0.135057
2       AL             1   0.121895  0.063652  0.135057
3       AL             1   0.121895  0.063652  0.135057
4       AL             1   0.121895  0.063652  0.135057
...    ...           ...        ...       ...       ...
3567    CA             0   0.146224  0.000000  0.140019
3568    CA             0   0.146224  0.000000  0.140019
3569    CA             0   0.146224  0.000000  0.140019
3570    CA             0   0.146224  0.000000  0.140019
3571    CA             0   0.146224  0.000000  0.140019

[3572 rows x 5 columns]

In [13]:
len(df["service_type"].unique())

2

df_droped['comm_rate'] = df['comm_rate'].astype(int)
df_droped['ind_rate'] = df['ind_rate'].astype(int)
df_droped['res_rate'] = df['res_rate'].astype(int)
df_droped

In [14]:
len(df_droped["comm_rate"].unique())

50

## Performing one hot encoding

In [15]:
EncodedData = pd.get_dummies(df_droped, columns = ['state'])
EncodedData

,service_type,comm_rate,ind_rate,res_rate,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,...,state_NJ,state_NY,state_OH,state_OR,state_PA,state_TN,state_TX,state_VA,state_VT,state_WV
0,1,0.087890,0.000000,0.093887,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.121895,0.063652,0.135057,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.121895,0.063652,0.135057,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.121895,0.063652,0.135057,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0.121895,0.063652,0.135057,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3567,0,0.146224,0.000000,0.140019,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3568,0,0.146224,0.000000,0.140019,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3569,0,0.146224,0.000000,0.140019,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3570,0,0.146224,0.000000,0.140019,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3571,0,0.146224,0.000000,0.140019,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
EncodedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3572 entries, 0 to 3571
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   service_type  3572 non-null   int64
 1   comm_rate     3572 non-null   float64
 2   ind_rate      3572 non-null   float64
 3   res_rate      3572 non-null   float64
 4   state_AK      3572 non-null   uint8
 5   state_AL      3572 non-null   uint8
 6   state_AR      3572 non-null   uint8
 7   state_AZ      3572 non-null   uint8
 8   state_CA      3572 non-null   uint8
 9   state_CO      3572 non-null   uint8
 10  state_CT      3572 non-null   uint8
 11  state_FL      3572 non-null   uint8
 12  state_GA      3572 non-null   uint8
 13  state_HI      3572 non-null   uint8
 14  state_IA      3572 non-null   uint8
 15  state_ID      3572 non-null   uint8
 16  state_IL      3572 non-null   uint8
 17  state_IN      3572 non-null   uint8
 18  state_KS      3572 non-null   uint8
 19  state_KY      3572 non-null   uint8
 20  state_LA      3572 non-null   uint8
 21  state_MA      3572 non-null   uint8
 22  state_MD      3572 non-null   uint8
 23  state_ME      3572 non-null   uint8
 24  state_MI      3572 non-null   uint8
 25  state_NC      3572 non-null   uint8
 26  state_NH      3572 non-null   uint8
 27  state_NJ      3572 non-null   uint8
 28  state_NY      3572 non-null   uint8
 29  state_OH      3572 non-null   uint8
 30  state_OR      3572 non-null   uint8
 31  state_PA      3572 non-null   uint8
 32  state_TN      3572 non-null   uint8
 33  state_TX      3572 non-null   uint8
 34  state_VA      3572 non-null   uint8
 35  state_VT      3572 non-null   uint8
 36  state_WV      3572 non-null   uint8
dtypes: float64(3), int64(1), uint8(33)
memory usage: 226.9 KB

## Splitting the Model into test train

In [17]:
X = EncodedData.drop('service_type',axis=1)
y = EncodedData['service_type']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2500, 36), (1072, 36), (2500,), (1072,))

In [18]:
y_train

2986    1
918     0
1938    1
1604    1
1792    1
       ..
2763    1
905     0
1096    1
235     1
1061    1
Name: service_type, Length: 2500, dtype: int64

## Scaling the Data

In [19]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
#model=scaler.fit(X_train)
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

## Finding the Data Imbalances

In [20]:
y_train.value_counts()

1    2007
0     493
Name: service_type, dtype: int64

From the above results we can see that their is a data imbalance so for which I have decided to do a undersmapling for the data

## Resampling the Data

In [21]:
from imblearn.under_sampling import RandomUnderSampler

Undersample = RandomUnderSampler(sampling_strategy ='majority')
X_train,y_train = Undersample.fit_resample(X_train, y_train)

In [23]:
y_train.value_counts()

0    493
1    493
Name: service_type, dtype: int64

In [24]:
y_train.shape

(986,)

### From the above results we can say that the data is resampled

## Saving the files for further Model predection operations.

In [25]:
X_train = pd.DataFrame(X_train)
X_train.to_csv('C:/Users/Aravind Dudam/Downloads/DSP/X_train.csv', index=False)

In [26]:
X_test = pd.DataFrame(X_test)
X_test.to_csv('C:/Users/Aravind Dudam/Downloads/DSP/X_test.csv', index=False)

In [27]:
y_train = pd.DataFrame(y_train)
y_train.to_csv('C:/Users/Aravind Dudam/Downloads/DSP/y_train.csv', index=False)

In [28]:
y_test = pd.DataFrame(y_test)
y_test.to_csv('C:/Users/Aravind Dudam/Downloads/DSP/y_test.csv', index=False)