# Assignment 1

## ARAVIND DUDAM

## U04440266

## About the dataset.

The dataset is provideds the information on electric utility companies, their contact information, the types of services they offer, and the rates they charge for their services. The dataset also includes information on the service territories of electric utility companies and the types of energy sources they use to generate electricity.

Users can search the dataset by entering a zipcode and selecting a search radius. The dataset will then return a list of electric utility companies operating within the specified search radius, along with their contact information and rate information.

This dataset can be useful for individuals and businesses looking to compare rates and services offered by different electric utility companies in their area. It can also be used by researchers and policymakers to analyze trends in the electric utility industry and develop policies to promote competition and improve the affordability and reliability of electricity services.

## Importing Libraries

In [307]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
# set random seed to ensure that results are repeatable
np.random.seed(1)

## Loading the data

In [308]:
df = pd.read_csv("C:/Users/Aravind Dudam/Downloads/iou_zipcodes_2020_Updated.csv")

In [309]:
df.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52177 entries, 0 to 52176
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   zip           52177 non-null  int64
 1   eiaid         52177 non-null  int64
 2   utility_name  52177 non-null  object
 3   state         52177 non-null  object
 4   service_type  52177 non-null  int64
 5   ownership     52177 non-null  object
 6   comm_rate     52177 non-null  float64
 7   ind_rate      52177 non-null  float64
 8   res_rate      52177 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 3.6+ MB

In [310]:
df.head(10)

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,85321,176,Ajo Improvement Co,AZ,1,Investor Owned,0.087890,0.000000,0.093887
1,36560,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
2,36513,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
3,36280,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
4,35473,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
5,35229,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
6,36375,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
7,36042,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
8,36370,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057
9,35555,195,Alabama Power Co,AL,1,Investor Owned,0.121895,0.063652,0.135057

## Checking the Number of rows and columns

In [311]:
df.shape

(52177, 9)

## Finding Missing Values

In [312]:
df.isnull().sum()

zip             0
eiaid           0
utility_name    0
state           0
service_type    0
ownership       0
comm_rate       0
ind_rate        0
res_rate        0
dtype: int64

## Dropping rows with missing values

In [313]:
df = df.dropna()

In [314]:
# Target Variable "Service type"
df['service_type'].value_counts()

1    34924
0    17253
Name: service_type, dtype: int64

## Checking for Null Values

In [315]:
df.isna().sum()

zip             0
eiaid           0
utility_name    0
state           0
service_type    0
ownership       0
comm_rate       0
ind_rate        0
res_rate        0
dtype: int64

In [316]:
df.corr()['service_type'].sort_values(ascending=False)

C:\Users\Aravind Dudam\AppData\Local\Temp\ipykernel_21648\3199772146.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['service_type'].sort_values(ascending=False)

service_type    1.000000
comm_rate       0.620704
res_rate        0.557937
ind_rate        0.556955
zip             0.132072
eiaid          -0.064785
Name: service_type, dtype: float64

## Dropping the unrelavent columns

In [317]:
df_droped = df.drop(columns=["eiaid" , "zip" , "ownership"])

In [318]:
df_droped

             utility_name state  service_type  comm_rate  ind_rate  res_rate
0      Ajo Improvement Co    AZ             1   0.087890  0.000000  0.093887
1        Alabama Power Co    AL             1   0.121895  0.063652  0.135057
2        Alabama Power Co    AL             1   0.121895  0.063652  0.135057
3        Alabama Power Co    AL             1   0.121895  0.063652  0.135057
4        Alabama Power Co    AL             1   0.121895  0.063652  0.135057
...                   ...   ...           ...        ...       ...       ...
52172   Liberty Utilities    CA             1   0.146224  0.000000  0.140019
52173   Liberty Utilities    CA             1   0.146224  0.000000  0.140019
52174   Liberty Utilities    CA             1   0.146224  0.000000  0.140019
52175   Liberty Utilities    CA             1   0.146224  0.000000  0.140019
52176   Liberty Utilities    CA             1   0.146224  0.000000  0.140019

[52177 rows x 6 columns]

## Performing one hot encoding

In [319]:
EncodedData = pd.get_dummies(df_droped, columns = ['utility_name', 'state'])
EncodedData

,service_type,comm_rate,ind_rate,res_rate,"utility_name_ALLETE, Inc.",utility_name_Ajo Improvement Co,utility_name_Alabama Power Co,utility_name_Alaska Electric Light&Power Co,utility_name_Alaska Power and Telephone Co,utility_name_Alpena Power Co,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,1,0.087890,0.000000,0.093887,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.121895,0.063652,0.135057,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.121895,0.063652,0.135057,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.121895,0.063652,0.135057,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0.121895,0.063652,0.135057,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52172,1,0.146224,0.000000,0.140019,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52173,1,0.146224,0.000000,0.140019,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52174,1,0.146224,0.000000,0.140019,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52175,1,0.146224,0.000000,0.140019,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52176,1,0.146224,0.000000,0.140019,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Splitting the Model into test train

In [320]:
X = EncodedData.drop('service_type',axis=1)
y = EncodedData['service_type']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 14)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((36523, 196), (15654, 196), (36523,), (15654,))

## Scaling the Data

In [321]:
scaler = MinMaxScaler()
model=scaler.fit(X_train)
X_train=model.transform(X_train)
X_test=model.transform(X_test)

## Finding the Data Imbalances

In [322]:
y_train.value_counts()

1    24493
0    12030
Name: service_type, dtype: int64

From the above results we can see that their is a data imbalance so for which I have decided to do a undersmapling for the data

## Resampling the Data

In [323]:
# create RandomUnderSampler object
rus = RandomUnderSampler(random_state=0)

In [324]:
# fit and resample the training data
X_train, y_train = rus.fit_resample(X_train, y_train)

In [325]:
y_train.value_counts()

0    12030
1    12030
Name: service_type, dtype: int64

In [ ]:
### From the above results we can say that the data is resampled and

## Saving the files for further Model predection operations.

In [290]:
X_train = pd.DataFrame(X_train)
X_train.to_csv('C:/Users/Aravind Dudam/Downloads/X_train.csv', index=False)

In [291]:
X_test = pd.DataFrame(X_test)
X_test.to_csv('C:/Users/Aravind Dudam/Downloads/X_test.csv', index=False)

In [292]:
y_train = pd.DataFrame(X_train)
y_train.to_csv('C:/Users/Aravind Dudam/Downloads/y_train.csv', index=False)

In [293]:
y_test = pd.DataFrame(X_test)
y_test.to_csv('C:/Users/Aravind Dudam/Downloads/y_test.csv', index=False)